////////////////////////////////////////////
//  Copyright Myrnix.com 2016
//  All Rights Reserved
/////////////////////////////

@import '../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss';
@import '../node_modules/bourbon-neat/app/assets/stylesheets/_neat.scss';
@import '../node_modules/font-awesome/scss/font-awesome.scss';
////////////////////////////
//Fonts
////////////

@font-face {
  font-family: 'Nexa Bold';
  src: url(fonts/NexaBold.otf);}
@font-face {
  font-family: 'Nexa Light';
  src: url(fonts/NexaLight.otf);
}

$NexaLight: 'NexaLight';
$NexaBold: 'NexaBold';
$Athelas: 'Athelas';
$OpenSans: 'Open-Sans';

.NexaLight{font-family:$NexaLight !important;}
.NexaBold{font-family:$NexaBold !important;}
.Athelas {font-family: $Athelas !important;}
.Open-Sans{font-family:$OpenSans !important;}
.Open-Sans-Light{font-family:$OpenSans !important; font-weight:200;}

////////////////////////////
//Vars
////////////


$grid-columns: 12 !default;

//
// Cool
$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #449850;
$olive: #3D9970;
$lime:  #01FF70;


// Warm
$yellow:  #F9B241;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;
$darkpurple: #5B5EA1;


// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;


body, html{
    margin:0;
    padding:0;
}
@media screen and (max-width: 480px) {
    #arrow {
        top:80vh !important;
    }
}
//next and previous buttons
#arrow {
  position: fixed;
      right: 15px;
      top: 44vh;
      background-color: transparent;
      color: $white;
      flex-direction: column;
      display: flex;
      border: 1px solid $white;
      border-radius: 16px;
}
#arrow a{
    display:inline-block;
    padding:10px 20px;
    cursor:pointer;  }
//

video {
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
}

.text {
    z-index:2;
    position:absolute;
    background:$olive;
    top:0;
    bottom:0;
    left:0;
    right:0;

}

header{
  display:flex;
  height:57px;
  min-width:100%;
  background:$black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:fixed;
  top:1px;
  z-index:999;
}

.show{opacity: 1;
  @include transition(opacity .25s ease-in-out);
}
.hide{
  opacity: 0;
  @include transition(opacity .25s ease-in-out);
}

.toggl2{
  text-decoration: none;
  font-size: 28px;
  color: $white;
  position: relative;
  top: 0;
left: 194px;
  cursor: pointer;
  //background: $black;
  //padding: 10px 11px;
  //border-top-right-radius: 10px;
  //border-bottom-right-radius: 10px;
}

.toggl{
  text-decoration: none;
  font-size:30px;
  color:$black;
  position:fixed;
  top:20px;
  right:0;
  bottom:0;
  opacity:1;
  left:32px;
  z-index: 1;
  @include transition(all .25s ease-in-out);
}

.sidebar{
  position:fixed;
  top:0;
  left:-180px;
  bottom:0;
  width:180px;
  padding:30px;
  background:$black;
  color:$white;
  @include transition(all .25s ease-in-out);
  z-index: 999;
}
input#sidebarToggl{display: none;}

.toggl{
  font-size:30px;
  color:$white;
  cursor:pointer;
}

#sidebarToggl[type=checkbox]{
  &:checked + #wrap{
    .sidebar{
      left:0;
    }
    .toggl{
      left: 200px;
    }

  }
}

////////////////////
//Nomadik Landing Sections
///////////////////

///////////////////////////
////Section 1
#s1{
  background:$red;
  min-width:100%;
  min-height:110vh;
  color:$white;
  margin-top:-21px;
  background-size:cover;
  background-image:url('../../img/Desk.png');
  background-position: top;
  //flex
  display:flex;
  //flex-direction:column;
  //justify-content: center;
  //align-items: center;
// Reposition the background on mobile...

article:nth-child(1){
  background:$red;
  display:flex;
  flex-direction: column;
  flex-flow:row wrap;
  min-height:100%;
  max-width:50vw;
  @media screen and(max-width: 1181px){
    min-width: 100vw !important;
    min-height: 100vh !important;
  }
  div.logo{
          display: flex;
          justify-content: flex-end;
          align-content: space-around;
          height:157px;
          width: 100%;
          img{width: 157px;margin: 40px;}
         }
  div.content{
    display: flex;
    flex-direction: column;
    align-content: inherit;
    justify-content: flex-end space-around;
    width: 100%;
    @media screen and(max-width: 1181px){
      div.experts{
        background-image: url('../../img/s1Background@2x.png');
      }
    }
    div.call{
              margin: 0 auto;
              text-align:center;
              justify-content: center;
              position: relative;
              top:50px;
              width:100%;
              h2{font-size:22px;letter-spacing: 1px;font-family:$NexaBold;}
              h3{font-family:$OpenSans;
                font-size: 23.53px;
                 border: 1px solid #B5B3B3;
                 padding: 12px 5px;
                }
                }
  }


}
article:nth-child(2){
  @media screen and(min-width: 1181px){
    background-image: url('../../img/s1Background.png');
  }
  min-height:100%;
  min-width: 50vw;
  @media screen and(max-width: 1181px){
    display:none;
  }
}

.next-arrow{
  cursor:pointer;
  color:$white;
  font-size:44px;
  text-decoration: none;
}
div.cTa{
  @include outer-container();
  margin:105px auto;
  div.left{
    @include span-columns(6 of 12);
  }
  div.right{
    @include span-columns(6 of 12);
  }
}

button.contact{
  min-width:160px;
background: $white;
border:2px solid $white;
//
border-radius: 28.79px;
font-family: $NexaBold;
font-size: 17px;
color: $red;
padding: 9px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
letter-spacing: 1px;
}
button.learn{
  ////
  position:relative;
  left:7px;
  background-color: transparent;
  border-radius: 28.79px;
  /* Rectangle 3: */
  border: 2px solid $white;
  color: $white;
  font-family: $NexaLight;
  font-size: 17px;
  padding: 9px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 1px;
  min-width:166px;
}
h2{
  /* brand solutions: */
  font-family: $NexaBold;
  font-size: 48.57px;
  color: $white;
  line-height: 0;
}
h3{
  /* Using Tools for the : */
  font-family: "athelas", sans-serif;
  font-size: 23.53px;
  color: $white;
  line-height: 0;
  font-weight:100;
}

h4 {
 font-family: "athelas", sans-serif;
  /* We Craft Authentic: */
  font-size: 36.64px;
  color: $white;
  line-height: 0;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 27px;
 }


}

///////////////////////////
////Section 2
#s2{
  @include outer-container();
  background:$gray;
  min-width:100%;
  color:$white;
  margin-top:-21px;
  //flex
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
//
div{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    flex-direction: row;
    //Phone Size
    @media screen and(min-width: 740px){
      flex-direction: column;
      flex-flow:initial;
      article{background-color:$gray !important;}
      }
}
article{
    padding: 3%;
    text-align: center;
    @include omega;
  h2{
    font-family:$OpenSans;
    font-weight:200;
  font-size: 37.7px;
  color: #FFFFFF;
  line-height: 32.5px;
  }
  /* ideas: */
  p{font-family:$OpenSans;
    font-weight:400;
    font-size: 19.5px;
  color: #FFFFFF;
  }}

      article.purple{
        background: $darkpurple;
        h2{
        font-size: 37.7px;
        color: $white;
        line-height: 32.5px;}
        /* technology: */
            p{
              padding: 20px 50px;
              font-size: 19.5px;
              color: $white;}

              }
      article.yellow{
        background: #F9B241;
              h2{
              font-size: 37.7px;
              color: #FFFFFF;
              line-height: 32.5px;
              }
              p{
                padding: 20px 50px;
                font-size: 19.5px;
              color: #FFFFFF;
              }

      }
      article.pink{
      background: #9A4371;
        h2{
        font-size: 37.7px;
        color: #FFFFFF;
        line-height: 32.5px;}
        p{
          padding: 20px 50px;
          font-size: 19.5px;
          color: #FFFFFF;}
    }
}

///////////////////////////
////Section 3
#s3{
background: #F3F3F3;
overflow: hidden;
max-height: 105vh;
      ///fonts
      h4{
        text-align: center;
        padding:49px 18px 0;
        margin:0 auto;
        font-family: $NexaLight;
        font-size: 40px;
        color: #4A4A4A;
        font-weight: 100;
        line-height: 46px;
        letter-spacing: 1px;
      }
      p {
        text-align: center;
        padding:20px 33px;
        font-family: $OpenSans;
        font-size: 19.5px;
        color: #4A4A4A;
        line-height: 29px;
      }
      //images

      .osIcons{
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
      }

///Block which holds ipad & iphone...
      div.HardwareBlock{
        position: relative;
        width:540px;
        margin:0 auto;
        top:18px;
        @media screen and(max-width: 375px){
          right:47px
        }
        @media screen and(max-width:414px){
          right:62px;
        }
      }

      div.iPadGroup {
        //Add Positioning Here
        position:relative;
        right:162px;
        top:18px;
        //image for group...
              img:nth-child(1){
              width: 254px;
              position: relative;
              left: 273px;
              top: -27px;}
      }
      div.iPhoneGroup {
        //Add Positioning Here
        position: relative;
        bottom: 214px;
        left:222px;
        //image for group...
              img:nth-child(1){
                width: 105px;
                position: relative;
                left: 117px;
                top: -35px;}
      }

}

///////////////////////////
////Section 4
#s4{
  background:white;
  color:blue;

  @media screen and(max-width: 900px){
    img.teamImg{
      width:33vw;
      height:33vw;
    }
  }

    h4 {
        text-align: center;
        padding:49px 18px 0;
        margin:0 auto;
        font-family: $NexaLight;
        font-size: 40px;
        color: #4A4A4A;
        font-weight: 100;
        line-height: 46px;
        letter-spacing: 1px;
      }
    .teamGroup{
        display:flex;
        flex-flow: row wrap;
        justify-content: center;

        div{
          display:flex;
          flex-flow: row;
          justify-content: center;
          //Team Boxes...
          div.figure{
            cursor: pointer;
            margin:0;
            padding:0;
            img{
                &:hover{
                }
            }
              div.teamBio{
                margin-left: -279px;
                width: 280px;
                div{
                  &:nth-child(1){
                    background: rgba(255, 255, 255, 0.88);
                    padding: 14px;
                    width: 107px;
                    margin: 7px;
                    display: flex;
                    flex-flow: row wrap;
                    flex-direction: row;
                    justify-content: flex-start;
                    position: relative;
                    left: -22px;
                  }
                  &:nth-child(2){
                    width:40px;
                    margin-top: 9px;
                    margin-left: 72px;
                    display:flex;
                    flex-flow:row wrap;
                    flex-direction: column;
                    justify-content: flex-start;
                  }

                  strong{font-family: $OpenSans;
                    font-size:17px;
                    color:$black;
                  }
                  span{font-family:$OpenSans;font-weight:100;
                    font-size: 12px;
                    color: $darkpurple;
                  }
                  p{font-family:$OpenSans;
                    font-size:10px;
                    color:$gray;}
                  a{cursor: pointer;
                    margin: 5px;
                    width: 39px;
                    height:39px;
                    color: $white;
                    border: 1px solid $white;
                    padding: 10px;
                    border-radius: 20px;
                    &:hover{color:$blue;
                            border: 1px solid $blue;}
                  }
                }



            }
          }

        }
    }



}

///////////////////////////
////Section 5
#s5{

}

///////////////////////////
////Section 6
#s6{

}

///////////////////////////
////Section 7
#s7{

}
