body
  background-color: white
  font-size: 14px
  line-height: 1.6
  font-family: 'Fira Sans', sans-serif
  color: #666
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%

page-title
  color: $olive
